body {
    background-color: #f7f7f7;
    color: #4a4a4a;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
/* Center the main box */
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 50px;
}
/* Adding border styling, padding, and shadows to articles */
article {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-color: #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}

.avatar {
    background-color: #ffffff;
    /*** Style the border surrounding the avatar image ***/
    border-width: 1px;
    border-style: solid;
    border-color: #81C4E9;
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 10px;
    min-width: 50px;
    position: relative;
}

.avatar img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

a{
    color:#2D9CDB;
    font-family:'open-sans',sans-serif;
    font-weight:700;
}

a:hover{
    color:#64b3e1;
}

blockquote{
    margin-left:0;
    margin-right:0;
    margin-top:20px;
}

button{
    border:none;
    cursor:pointer;
    padding-left:0;
    padding-right:0;
    transform:scale(1);
}

button:hover{
    transform:scale(1.2);
}

button:focus{
    outline: none;
}

button.close{
    opacity: 0.5;
    position:absolute;
    right: 20px;
    top: 20px;
}

button.compose{
    background-color:#2D9CDB;
    border-radius:10px;
    margin-left:10px;
    height:50px;
    width:50px;
}

button.compose.hover{
    background-color: #1789C9;
}

button.heart 
{ 
      float: right; 
} 

button.heart:hover 
{ 
    opacity: 1; 
} 

.date-posted{
    color: #a9a9a9;
    margin-bottom: 0;
    width: 90%;
    float: left;
    margin-top:0;
}
.date-posted time{
    color: #5caecf;
}

footer{
    margin-top:20px;
    height:15px;
}

footer p{
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 300;
}

h1{
    font-family: "open-sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8px;
}

h2{
    color: #a9a9a9;
    font-family:'open-sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin-top:0;
    margin-bottom:0;
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
}
/* Form and Textarea */
form{
    background-color: #D5EBF8;
    border-width:1px;
    border-style:solid;
    border-color:#87caee;
    border-radius:10px;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:30px;
}

form.is-error{
    background-color:#fbbfbf;
    border-color:#ec5e5e;
}

form.is-error textarea{
    border-color: #ec5e5e;
    color: #ec5e5e;
}

form.is-error div{
    color: #ec5e5e;
}

/* Set up the textarea */
textarea{
    border-radius:10px;
    border-width:1px;
    border-style:solid;
    border-color:#81C4E9;
    color:#4a4a4a;
    font-size:14px;
    height:50px;
    margin-bottom:2px;
    padding:6px;
    resize:none;
    width:100%;
}
textarea::placeholder{
    color:#a9a9a9;
}
textarea:focus{
    border-color:#8ac2e2;
    outline:none;
}

/*Fieldset set up */
fieldset{
    border:none;
    float:left;
    font-size:12px;
    margin:0;
    padding:0;
    width:calc(100% - 122px);
}
fieldset div{
    color:#98c2db;
    margin-left:6px;
    margin-top:2px;
}

label {
    width: 200px;
    display: block;
    background: url(2.png);
    height: 200px;
  }
  
  input {
    visibility: hidden;
  }