body {
    display: grid;
    grid-template-columns: 
        75fr 25fr;
}
main {
    display: grid;
    grid-template-rows: 1fr 7fr;

}

main .top-bar {
    background-color: rgb(80, 80, 80);
    display: grid;
    grid-template-columns: 
        20fr 80fr;
    align-items: center;
}

main .top-bar .logo {
    margin-left: auto;
    margin-right: auto;
}
main .top-bar .top-navigators {
    margin-right: auto;
    /*margin-top: auto;*/
    columns: 9;
}

.rune:hover {
    transform:scale(1.04);
}

/* [Deck Collection] adjust the content in the Deck Collection Part */

.deck-collection {
    align-items: center;
    background-color:rgb(118, 1, 196);
}

.card-collection {
    display: grid;
    grid-template-columns: 
        20fr 80fr;
}

.card-collection .left-scroll {
    background-color: blue;
}

.card-collection .card-collection-area {
    display: grid;
    grid-template-rows: 10fr 90fr;
    background-color:aqua;
}

.card-collection .card-collection-area .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.deck-collection {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.deck-bar {
    margin-bottom:auto;
    margin-right: auto;
    margin-left: auto;
}